<div class="about-wrapper">
    <h3 id="first-p">Hi <img src="https://s-media-cache-ak0.pinimg.com/736x/67/8a/01/678a01c73410b7d7151432b92b356df4.jpg" width="4%"></h3> 
    <h2>I'm Marina! I'm a programmer, a former editor, an avid learner, and I'm based in NYC. </h2>
    <p>Currently, I work at <a href="https://generalassemb.ly/instructors/marina-rozova/8514" target="blank"> General Assembly</a> as an Instructional Associate for their March - June 2016 instance of the Web Development Immersive Bootcamp. I've been coding on my own for the last year and a half, and have added to my education by taking part-time and full-time web development courses. From November 2015 to March 2016, I attended General Assembly's immersive bootcamp myself, and gained more experience working with HTML, CSS, JavaScript, jQuery, Ruby, Rails, React, node.js, PostgreSQL, and other languages and technologies.</p>
    <p>I'm passionate about creating beautiful, efficient applications. Check out my <a href="https://github.com/marinar578" target="blank">code</a> and my <a href="https://www.linkedin.com/in/rozovamarina" target="blank">linkedin</a> for more info on the work I've done.</p>
    <h3>Here are some of my favorite things:</h3>
    <div class="fav-photos row">
        <img src="/images/about_fav_01.jpg"/>
        <img src="/images/about_fav_02.jpg"/>
        <img src="/images/about_fav_06.jpg"/>
    </div>
    <div class="fav-photos row">
        <img src="/images/about_fav_04.jpg"/>
        <img src="/images/about_fav_05.jpg"/>
        <img src="/images/about_fav_07.jpg"/>
    </div>
    <div class="fav-photos row">
        <img src="/images/about_fav_08.jpg"/ class="col-md-3">
        <img src="/images/about_fav_10.jpg" class="col-md-3"/>
        <img src="/images/about_fav_11.jpg" class="col-md-3"/>
        <img src="/images/about_fav_12.jpg" class="col-md-3"/>
    </div>
</div>