<div class="contact-wrapper">
    <div class="row header-row">
        <div class="col-md-2">Time Added</div>
        <div class="col-md-3">Name</div>
        <div class="col-md-3">Email</div>
        <div class="col-md-4">Message</div>
    </div>

    <% @contacts.each do |contact| %>
    <div class="row data-row">
        <div class="col-md-2"><%= contact["creation_time"] %></div>
        <div class="col-md-3"><%= contact["name"] %></div>
        <div class="col-md-3"><%= contact["email"] %></div>
        <div class="col-md-4"><%= contact["message"] %></div>
    </div>
    <% end %>

</div>