<div class="contact-content">
    <% if @contact_submitted %>
        <p>Thank you!</p>
    <% else %>
        <h2>Contact Me!</h2>
        <form class="contact" action="/contact" method="post">
            <div class="input-row">
                <label for="name">Name </label>
                <input type="text" name="name"/>
            </div>

            <div class="input-row">
                <label for="email">Email </label>
                <input type="text" name="email"/>
            </div>

            <div class="input-row">
                <label for="message">Message </label>
                <textarea name="message"></textarea>
            </div>

            <div class="input-row">
                <input type="submit" value="Contact Me"/>
            </div>

        </form>
    <% end %>

</div>