<section id="main">
<div class="wrapper">
    <div class="inner-wrapper">
        <div class="project" id="project-1">
            <span class="text">
                Blackjack
            </span>
        </div>
    </div>

    <div class="inner-wrapper">
        <div class="project" id="project-2">
            <span class="text">
                wecreate
            </span>
        </div>
    </div>

    <div class="inner-wrapper">
         <div class="project" id="project-3">
            <span class="text">
                Era
            </span>
        </div>
    </div>

    <div class="inner-wrapper">
        <div class="project" id="project-4">
            <span class="text">
                Hi
            </span>
        </div>
    </div>

    <div class="inner-wrapper">
        <div class="project" id="project-5">
            <span class="text">
                Hi
            </span>
        </div>
    </div>

    <div class="inner-wrapper">
        <div class="project" id="project-6">
            <span class="text">
                Hi
            </span>
        </div>
    </div>
    </div>
</section>