<div class="row">

    <div class="col-md-3">
    </div>

    <div class="inner-wrapper col-md-2">
        <a href = "/projects/1"><div class="project project-1">
            <span class="text">
                Blackjack
            </span>
        </div></a>
    </div>

    <div class="inner-wrapper col-md-2">
        <a href = "/projects/2"><div class="project project-2">
            <span class="text">
                wecreate
            </span>
        </div></a>
    </div>

    <div class="inner-wrapper col-md-2">
         <a href = "/projects/3"><div class="project project-3">
            <span class="text">
                Era
            </span>
        </div></a>
    </div>

    <div class="col-md-3">
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
    </div>

    <div class="inner-wrapper col-md-2">
        <a href = "/projects/4"><div class="project project-4">
            <span class="text">
                Innovation Cloud
            </span>
        </div></a>
    </div>

    <div class="inner-wrapper col-md-2">
        <a href = "/projects/5"><div class="project project-5">
            <span class="text">
                Newstand
            </span>
        </div></a>
    </div>

    <div class="inner-wrapper col-md-2">
        <a href = "/projects/6">
        <div class="project project-6">
            <span class="text">
                threadly
            </span>
        </div>
        </a>
    </div>

    <div class="col-md-3">
    </div>

</div>