<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="row" id="header-row">
        <div class="col-md-3">
        </div>

        <div class="head-container col-md-6" <% if @index %> id="index-logo"<%end%>>
          <div class="logo">
            <h1><strong>marina<br/><br/>rozova</strong></h1>
            <div id="logo-desc"><strong>
            Full Stack Web Developer</strong>
            </div>
          </div>

          <div class="navigation">
            <ul class="row">
              <li class="col-md-3">
                <a href="/projects">projects</a>
<!--                 <ul class="sub_main_navigation">
                  <li><a href="/projects/1">Blackjack</a></li>
                  <li><a href="/projects/2">wecreate</a></li>
                  <li><a href="/projects/3">Era</a></li>
                  <li><a href="/projects/4">Innovation Cloud</a></li>
                  <li><a href="/projects/5">Newstand</a></li>
                  <li><a href="/projects/6">threadly</a></li>
                </ul> -->
              </li>
              <li class="col-md-3">
                <a href="/about">about</a>
              </li>
              <li class="col-md-3">
                <a href="/resume">resumé</a>
              </li>
              <li class="col-md-3">
                <a href="/contact">contact</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
        </div>
      </div>
    </header>

    <div class="main-container">
      <%= yield %>
    </div>

    <footer>
      <div class="row" id="header-row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6">
          <div>© 2016 Marina Rozova</div>
          <div class="social-icons">
            <a href="https://twitter.com/marina_rozova" target="blank"><div class="social-icon" id="icon-twitter"></div></a>
            <a href="https://github.com/marinar578" target="blank"><div class="social-icon" id="icon-github"></div></a>
            <a href="https://www.linkedin.com/in/rozovamarina" target="blank"><div class="social-icon" id="icon-linkedin"></div></a>
            <a href="mailto:marinar578@gmail.com"><div class="social-icon" id="icon-mail"></div></a>
          </div>
        </div>

        <div class="col-md-3">
        </div>
      </div>
    </footer>
  </body>
</html>

<script src="/js/jquery.js" type="text/javascript"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="/js/script.js" type="text/javascript"></script>
