body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    line-height: 1.6em;
    text-transform: none;
    text-decoration: none;
    font-weight: 300, normal;
    font-style: normal;
    margin: 0 auto;
    max-width: 1290px;
}

div.container {
    width: 60%;
    margin: 0 auto;
}

header {
    height: 400px;
}

#header-row {
    height: 100%;
}

header .head-container {
    position: relative;
    height: 90%;
    display: inline-block;
    margin: 0 auto;
    top: 20px;
}

header .head-container .logo {
    position: relative;
    top: 30px;
    height: 250px;
    text-align: center;
    font-size: 50px;
    line-height: 1.8em;
    width: 275px;
    margin-left: 30%;

    /*border: solid #FACD01 10px;*/
}

header .head-container .logo h1 {
    position: relative;
    top: 30px;
    color: #0F137E;
}


header .head-container .logo #logo-desc {
    position: relative;
    top: 30px;
    font-size: 15px;
    color: #0F137E;
    text-align: center;
}

#header-row #index-logo .logo h1, 
#header-row #index-logo .logo #logo-desc,
#index-logo .navigation  
{
    opacity: 0;
}

header .head-container .navigation {
    position: relative;
    width: 100%;
    height: 15%;
    bottom: -13%;
}

header .head-container .navigation ul {
    list-style: none;
}

header .head-container .navigation ul li {
    display: inline;
    text-align: center;
}

header .head-container .navigation ul li a {
    color: #777;
    text-decoration: none;
}

header .head-container .navigation ul li a:hover {
    color: #000;
    font-weight: 400;
}

div.main-container{
    opacity: 0;
}

a:hover {
    text-decoration: none;
}

a .project { 
    text-decoration: none;
}

a .project {
    height: 200px;
    width: 200px;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: 300;
}

a .project:hover{
    opacity: .7;
    cursor: pointer;
    text-decoration: none;
    animation: opacity-delay .2s linear 0s; 
}

@keyframes opacity-delay {
    0%  {   opacity: 1;     }
    100%{   opacity: .7;    }
}

.text {
    position: relative;
    top: 35%;
    font-size: 25px;
}

.inner-wrapper .project-1 {
    background-color: #0F137E;
}

.inner-wrapper .project-2 {
    background-color: #FACD01;
    color: #0F137E;
}

.inner-wrapper .project-3 {
    background-color: #0F137E;
}

.inner-wrapper .project-4 {
    background-color: #FDDD51;
    color: #0F137E;
}

.inner-wrapper .project-5 {
    background-color: #0F137E;
}

.inner-wrapper .project-6 {
    background-color: #FCDA00;
    color: #0F137E;
}




/* ------------------------ */
/* Individual project page */
/* ------------------------ */
.project-wrapper h2 {
    text-align: center;
}

.btn-group {
    width: 280px;
    height: 100px;
    margin: 0 auto;
}

.link-buttons {
    background-color: #555;
    color: white;
}
.link-buttons:hover {
    background-color: black;
    color: white;
}

.project-wrapper{
    width: 80%;
    margin-left: 10%;
}

.project-wrapper img {
    padding: 50px 200px;
    width: 1000px;
}

.project-wrapper .content {
    text-align: center;
}

ul.projects-list {
  position: relative;
  top: 100px;
  display: inline-block;
}

ul.projects-list li {
  list-style: none;
  padding: 5px;
  display: inline-block;
  width: 175px;
  margin: 5px;
  text-align: center;
  font-size: 15px;
}

ul.projects-list .project-odd {
  background-color: #0F137E;
}

ul.projects-list .project-even {
  background-color: #FACD01;
  color: #0F137E;
}

ul.projects-list a {
  text-decoration: none;
  padding: 10px;
}

ul.projects-list .project-odd a {
  color: white;
}

ul.projects-list .project-even a {
  color: #0F137E;
}

ul.projects-list li:hover{
    opacity: .7;
    cursor: pointer;
    text-decoration: none;
    animation: opacity-delay .2s linear 0s; 
}

/* end of individual project page*/



/* ------------------------ */
/* About page */
/* ------------------------ */
.about-wrapper {
  width: 60%;
  margin: 0 auto;
}

.about-wrapper h2 {
  /*text-align: center;*/
  font-size: 20px;
  padding: 15px;
}

.about-wrapper p {
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
}

.about-wrapper .fav-photos {
  width: 100%;
  margin: 0 auto;
}

.about-wrapper .fav-photos img {
  height: 200px;
  padding: 10px 20px;
}



/* ------------------------ */
/* Contact page */
/* ------------------------ */
.contact-wrapper {
    text-align: center;
}

form.contact {
  width: 600px;
  background: #ecf0f1;
  padding: 20px;
  margin: 0 auto;
}

form.contact div.input-row {
  padding: 6px;
}

form.contact div.input-row label {
  vertical-align: top;
  font-size: 22px;
  display: inline-block;
  width: 120px;
  font-weight: 400;
}

form.contact div.input-row input[type=text]{
  font-size: 15px;
  width: 440px;
  height: 30px;
  padding: 6px;
  border: 1px solid #bbb;
  font-family: Arial, sans-serif;
}

form.contact div.input-row textarea {
  font-size: 15px;
  font-family: Arial, sans-serif;
  padding: 6px;
  width: 440px;
  height: 200px;
  border: 1px solid #bbb;
}

form.contact div.input-row input[type=submit] {
  font-size: 22px;
  border: 1px solid #bbb;
  margin-left: 126px;
  background: #FDDD51;
  padding: 6px 20px;
  cursor: pointer;
  color: #0F137E;
}
/* end of contact page */


/* ------------------------ */
/* Resume page */
/* ------------------------ */
.resume-wrapper img{
  width: 70%;
  margin-left: 15%;
  border: 1px solid black;
}

/* end of resume page */



/* ------------------------ */
/* Admin contact info page */
/* ------------------------ */
.contact-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.contact-wrapper .header-row {
  text-align: left;
  font-weight: bold;
}

.contact-wrapper .data-row {
  text-align: left;
  border-top: 1px solid black;
  font-size: 13px;
  font-family: Arial;
}
/* end of contact info page */



footer {
    position: relative;
    top: 100px;
    text-align: right;

}

footer div.social-icons{
    position: relative;
    top: 20px;
}

footer div.social-icons .social-icon{
    height: 32px;
    width: 32px;
    display: inline-block;
    background-size: 60%;
    background-repeat: no-repeat;
    cursor: pointer;
}

footer div.social-icons .social-icon#icon-twitter{
    background-image: url(/images/icon-twitter.png);
}

footer div.social-icons .social-icon#icon-github{
    background-image: url(/images/icon-github.png);
}

footer div.social-icons .social-icon#icon-linkedin{
    background-image: url(/images/icon-linkedin.png);
}

footer div.social-icons .social-icon#icon-mail{
    background-image: url(/images/icon-mail.png);
}


