body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    line-height: 1.6em;
    text-transform: none;
    text-decoration: none;
    font-weight: 300, normal;
    font-style: normal;
}

div.container {
    width: 60%;
    margin: 0 auto;
}

header {
    height: 400px;
}

#header-row {
    height: 100%;
}

header .head-container {
    position: relative;
    height: 90%;
    display: inline-block;
    margin: 0 auto;
    top: 20px;
}

header .head-container .logo {
    position: relative;
    top: 30px;
    height: 250px;
    text-align: center;
    font-size: 50px;
    line-height: 1.8em;
    width: 275px;
    margin-left: 30%;

    /*border: solid #FACD01 10px;*/
}

header .head-container .logo h1 {
    position: relative;
    top: 30px;
    color: #0F137E;
}


header .head-container .logo #logo-desc {
    position: relative;
    top: 30px;
    font-size: 15px;
    color: #0F137E;
    text-align: center;
}

#header-row #index-logo .logo h1, 
#header-row #index-logo .logo #logo-desc,
#index-logo .navigation  
{
    opacity: 0;
}

header .head-container .navigation {
    position: relative;
    width: 100%;
    height: 15%;
    bottom: -13%;
}

header .head-container .navigation ul {
    list-style: none;
}

header .head-container .navigation ul li {
    display: inline;
    text-align: center;
}

header .head-container .navigation ul li a {
    color: #777;
    text-decoration: none;
}

header .head-container .navigation ul li a:hover {
    color: #000;
    font-weight: 400;
}

header .head-container .navigation ul li .sub_main_navigation{
    display: none;
    z-index: 2;
    text-align: left;
}

div.main-container{
    opacity: 0;
}

a:hover {
    text-decoration: none;
}

a .project { 
    text-decoration: none;
}

a .project {
    height: 200px;
    width: 200px;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: 300;
    opacity: 0;
}

a .project:hover{
    opacity: .7;
    cursor: pointer;
    text-decoration: none;
    animation: opacity-delay .2s linear 0s; 
}

@keyframes opacity-delay {
    0%  {   opacity: 1;     }
    100%{   opacity: .7;    }
}

.text {
    position: relative;
    top: 35%;
    font-size: 25px;
}

.project#project-1 {
    background-color: #0F137E;
}

.project#project-2 {
    background-color: #FACD01;
    color: #0F137E;
}

.project#project-3 {
    background-color: #0F137E;
}

.project#project-4 {
    background-color: #FDDD51;
    color: #0F137E;
}

.project#project-5 {
    background-color: #0F137E;
}

.project#project-6 {
    background-color: #FCDA00;
    color: #0F137E;
}


/* Individual project page */
.btn-group, .btn-group-justified, .link-buttons {
    z-index: -1;
}

.project-wrapper{
    width: 80%;
    margin-left: 10%;
}

.project-wrapper img {
    width: 600px;
}


/* end of individual project page css*/



footer {
    position: relative;
    top: 100px;
    text-align: right;

}

footer div.social-icons{
    position: relative;
    top: 20px;
    text-align: ce/*n*/ter;
}

footer div.social-icons .social-icon{
    height: 32px;
    width: 32px;
    display: inline-block;
    background-size: 60%;
    background-repeat: no-repeat;
    cursor: pointer;
}

footer div.social-icons .social-icon#icon-twitter{
    background-image: url(/images/icon-twitter.png);
}

footer div.social-icons .social-icon#icon-github{
    background-image: url(/images/icon-github.png);
}

footer div.social-icons .social-icon#icon-linkedin{
    background-image: url(/images/icon-linkedin.png);
}

footer div.social-icons .social-icon#icon-mail{
    background-image: url(/images/icon-mail.png);
}