body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    line-height: 1.6em;
    text-transform: none;
    text-decoration: none;
    font-weight: 300, normal;
    font-style: normal;
}

div.container {
    width: 60%;
    margin: 0 auto;
}

header {
    height: 400px;
}

#header-row {
    height: 100%;
}

header .head-container {
    position: relative;
    height: 90%;
    display: inline-block;
    margin: 0 auto;
    top: 20px;
}

header .head-container .logo {
    position: relative;
    top: 30px;
    height: 250px;
    text-align: center;
    font-size: 50px;
    line-height: 1.8em;
    width: 275px;
    margin-left: 30%;

    border: solid #FACD01 10px;
}

header .head-container .logo strong {
    position: relative;
    top: 30px;
    color: #0F137E;
}


header .head-container .navigation {
    position: relative;
    width: 100%;
    height: 15%;
    bottom: -13%;
}

header .head-container .navigation ul {
    list-style: none;
}

header .head-container .navigation ul li {
    display: inline;
    text-align: center;
}

header .head-container .navigation ul li a {
    color: #777;
    text-decoration: none;
}

header .head-container .navigation ul li a:hover {
    color: #000;
    font-weight: 400;
}

.project {
    height: 200px;
    width: 200px;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 5px;
    font-weight: 300;
    /*transition: 0s opacity;*/
}

.project:hover{
    opacity: .7;
    cursor: pointer;
    /*transition-delay: .2s;*/
    animation: opacity-delay .4s linear 0s; 
}


/* blinks at the end, find out why and fix */
@keyframes opacity-delay {
    0%{
        opacity: 1;
    }
    100%{
        opacity: .7;
    }
}


.text {
    position: relative;
    top: 35%;
    font-size: 25px;
}

.project#project-1 {
    background-color: #0F137E;
}

.project#project-2 {
    background-color: #FACD01;
    color: #0F137E;
}

.project#project-3 {
    background-color: #0F137E;
}

.project#project-4 {
    background-color: #FDDD51;
    color: #0F137E;
}

.project#project-5 {
    background-color: #0F137E;
}

.project#project-6 {
    background-color: #FCDA00;
    color: #0F137E;
}

footer {
    height: 100px;
    text-align: center;
}

footer p {
    position: relative;
    top: 50%;
}
